{% load static %}
<div class="container-fluid bg-secondary my-5" id="features">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <img
          class="img-fluid w-100"
          src="{% static 'img/feature.jpg' %}"
          alt=""
        />
      </div>
      <div class="col-lg-7 py-5 py-lg-0">
        <h6 class="text-primary text-uppercase font-weight-bold">
          Why Choose Us
        </h6>
        <h1 class="mb-4">Faster, Safe and Trusted Logistics Services</h1>
        <p class="mb-4">
          We combine speed, security, and reliability to deliver logistics
          solutions you can trust. Our dedicated team, advanced tracking
          systems, and strong global network ensure that every shipment is
          handled with care and delivered on time. From small packages to large
          cargo, we go the extra mile to make your supply chain seamless and
          stress-free.
        </p>
        <ul class="list-inline">
          <li>
            <h6>
              <i class="far fa-dot-circle text-primary mr-3"></i>Best In
              Industry
            </h6>
          </li>
          <li>
            <h6>
              <i class="far fa-dot-circle text-primary mr-3"></i>Emergency
              Services
            </h6>
          </li>
          <li>
            <h6>
              <i class="far fa-dot-circle text-primary mr-3"></i>24/7 Customer
              Support
            </h6>
          </li>
        </ul>
        <a href="#getQuote" class="btn btn-primary mt-3 py-2 px-4">Get Quote</a>
      </div>
    </div>
  </div>
</div>
